<div class="page-sidebar-wrapper" th:fragment="sidebar">
    <!--             BEGIN SIDEBAR -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="index.html"><img src="../assets/images/icon/logo.png" alt="logo"></a>
            </div>
        </div>

        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li>
                            <a href="/" aria-expanded="true"><i class="ti-dashboard"></i><span>Home</span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="ti-layout-sidebar-left"></i><span>Data Surat</span></a>
                            <ul class="collapse">
                                <li><a href="/registersurat">Register Surat</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-align-left"></i> <span>Administrasi</span></a>
                            <ul class="collapse">
                                <li><a href="#" aria-expanded="true">User Management</a>
                                    <ul class="collapse">
                                        <li><a href="/usermanagement">Master User</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Setting Master</a>
                                    <ul class="collapse">
                                        <li><a href="/unitmanagement">Unit Kerja</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--             END SIDEBAR -->
</div>